{% extends "blog/base.html" %}

{% block content %}
<div class="col-md-4">
  <div class="post">
    <h1>Your Wecome to<br><b style="color:#4285F4">'TheCodeBlogs'</b><br>login to have to say 'Hello world' :)</h1>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="POST" class="post-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="button" class="btn btn-default grn_btn">Sign Up :)</button>
    </form>
  </div>


</div>
<div class="col-md-6"></div>
<div class="col-md-1"></div>


{% endblock %}
